# Android Studio / IntelliJ Shared Settings
.idea/
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/inspectionProfiles/

# Ignore local files
*.iml
.gradle
/local.properties
/build
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
